# WiFi bridge firmware — minimal footprint
CONFIG_ESP_CONSOLE_UART_RX_BUFFER_SIZE=1024
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n
CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT=n
CONFIG_MBEDTLS_TLS_CLIENT=n
CONFIG_MBEDTLS_TLS_SERVER=n
CONFIG_ESP_TLS_USING_MBEDTLS=n
CONFIG_HTTPD_WS_SUPPORT=n
CONFIG_MDNS=n
CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES=n
